.feedItem {
    background-color: #fff;
    transition: all 0.2s ease;
    border: 1px solid #{$m100};
    img {
        max-width: 100%;
        width: 300px;
        height: auto;
        transition: all 0.2s ease;
    }
    .title {
        display: block;
    }
    &:hover {
        cursor: pointer;
        border: 1px solid #{$m800};
        img {
            transform: scale(1.1);
        }
    }
}
